@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
  url('../fonts/icons.woff2') format('woff2'),
  url('../fonts/icons.woff') format('woff'),
  url('../fonts/icons.ttf') format('truetype'),
  url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  width: 1em;
}

$icons: (
        'facebook-squared': '\e800',
        'twitter': '\e801',
        'facebook': '\e802',
        'facebook-rect': '\e803',
        'twitter-1': '\e804',
        'facebook-circled': '\e805',
        'twitter-circled': '\e806',
        'sun': '\f185',
        'moon': '\f186'
);

@each $name, $key in $icons {
  .icon-#{$name}:before {
    content: $key;
  }
}