---
layout: default
title: Hello World
---

<h2>
    Portfolio
</h2>

{% if site.categories.portfolio.size >= 1 %}
    <div id="portfolio" class="row">
        {% for post in site.categories.portfolio %}
        <div class="col-md-6">
            <a href="{{post.url}}" class="image">
                <img src="{{post.image}}" class="img-responsive img-rounded" alt="{{post.title}}" />
            </a>

            <h3>
                {{post.title | camelcase}}
            </h3>
            <p>
                {{post.intro}}
            </p>
        </div>
        {% endfor %}
    </div>
{% else %}
    There are no recent works added yet!
{% endif %}