.profile {
  &__wrapper {
    @apply pt-20 px-4 mx-auto max-w-2xl;
  }

  &__header {
    @apply border-b border-gray-300 text-center mb-10 pb-10;

    a {
      @apply border-b-0;
    }
  }

  &__avatar {
    @apply absolute rounded-full mb-5 w-20 h-20;

    &:last-of-type {
      @apply transition-all duration-300 filter blur-0;

      z-index: -1;
    }

    &__container {
      @apply relative w-20 h-20 block mx-auto;

      &:hover {
        .profile__avatar {
          &:last-of-type {
            @apply blur-lg;
          }
        }
      }
    }
  }

  &__title {
    @apply text-xl text-gray-900;
  }

  &__slogan {
    @apply font-light text-base text-gray-400 mt-1;
  }

  &--footer {
    @apply my-8 py-8;

    .profile__avatar {
      @apply w-8 h-8 rounded-full mt-1 mr-5 float-left;

      box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
    }

    .profile__slogan {
      @apply block text-xs mt-0;
    }

    .profile__title {
      @apply block text-sm;
    }
  }
}

@screen md {
  .profile {
    &--footer {
      @apply max-w-2xl mx-auto px-4;
    }
  }
}

@screen dark {
  .profile {
    &__title {
      @apply text-gray-100;
    }

    &__title {
      @apply text-gray-100;
    }

    &--footer {
      .profile__avatar {
        box-shadow: 0 0 0 3px #1a202c, 0 0 0 4px #eee;
      }
    }
  }
}