@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$gray: #aaa;
$gray-900: shade($gray, 97.5%);
$gray-800: shade($gray, 78%);
$gray-700: shade($gray, 58.5%);
$gray-600: shade($gray, 39%);
$gray-500: shade($gray, 19.5%);
$gray-400: tint($gray, 19.5%);
$gray-300: tint($gray, 39%);
$gray-200: tint($gray, 58.5%);
$gray-100: tint($gray, 78%);
$gray-100: tint($gray, 97.5%);

$blue: #5694F1;
$blue-900: shade($blue, 97.5%);
$blue-800: shade($blue, 78%);
$blue-700: shade($blue, 58.5%);
$blue-600: shade($blue, 39%);
$blue-500: shade($blue, 19.5%);
$blue-400: tint($blue, 19.5%);
$blue-300: tint($blue, 39%);
$blue-200: tint($blue, 58.5%);
$blue-100: tint($blue, 78%);
$blue-100: tint($blue, 97.5%);

$broken: #d0d4d7;
$broken-900: shade($broken, 97.5%);
$broken-800: shade($broken, 78%);
$broken-700: shade($broken, 58.5%);
$broken-600: shade($broken, 39%);
$broken-500: shade($broken, 19.5%);
$broken-400: tint($broken, 19.5%);
$broken-300: tint($broken, 39%);
$broken-200: tint($broken, 58.5%);
$broken-100: tint($broken, 78%);
$broken-100: tint($broken, 97.5%);
