@import "settings/colors";
@import "settings/breakpoints";

@import "global/reset";
@import "global/base";
@import "global/fonts";
@import "global/utils";

@import "components/footer";
@import "components/navigation";
@import "components/pagination";
@import "components/post-list";
@import "components/post-row";
@import "components/profile";
@import "components/search";
@import "components/topic-list";

@import "pages/post";

/* Typography */
/*Accent color*/
a,
#title,
.post-list a:hover,
.post-list li:hover .dates,
#title:hover {
  text-decoration: none;
  color: $blue-400;
}

/*Transitions*/
a,
#post-nav a,
.post-list a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/* Line Height */
#post-body,
p {
  line-height: 1.7;
}

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.description {
  float: right;
  font: italic 14px/1.4em Georgia, serif;
  color: $gray-500;
}

.topic {
  header {
    margin-bottom: 40px;

    h1 {
      text-transform: capitalize;
    }
  }
}

#badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
}

/*=========================================
Post List
=========================================== */

#archive-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px 10px 6px;
  box-shadow: 0 0 0 1px hsla(207, 83%, 80%, 1);

  &:hover {
    background: $blue-400;
    color: $broken-100;
    box-shadow: 0 0 0 1px $blue-400;
  }

  span {
    position: relative;
    top: 0;
    font-size: 17px;
  }
}



/* Post Page */
#header {
  border-bottom: 1px solid $gray-200;
}

#post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid $gray-200;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color: $gray-700;
  border-bottom: 1px solid $gray-200;

  div {
    margin: 0 25px 0 0;
    float: left;

    span {
      color: $gray-500;
      font-weight: 500;
      display: block;

      &.dark {
        color: $blue-800;
      }
    }
  }
}

/* Archive */
h1.archive {
  margin-bottom: 0;
}

h2.month {
  width: 100%;
  font: bold 13px/1 "Helvetica Neue", helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-200;
}

/* Media Queries */
@media screen and (max-width: 540px) {
  #wrapper {
    padding: 20px 20px 20px 20px;
  }
  #header {
    margin-bottom: 60px;
    border-bottom: 1px solid $gray-200;
  }
  .post {
    margin: 40px 0;
  }
  #footer {
    margin-top: 60px;
  }

  #post-list, #archive-list {
    margin-top: 0;
  }

  #post-meta {
    margin-top: 60px;
  }

  #title {
    font-size: 17px;
  }

  h1 {
    font-size: 26px;
  }

  .post {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;

      &.headline {
        font-size: 13px;
      }
    }
  }
}